body{
    background:black;
}
.omot{
	width:600px;
	margin:250px auto 0;
	background:#3b3c3d;
	
}
h2{
	color:white;
	font-size:80px;
	text-align:center;
	
}
span{
	display:block;
	background-image:url(vatra3.jpg);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-webkit-animation:fire 2s linear infinite;
	-webkit-backface-visibility:hidden;
}
@keyFrames fire{
	0%{background-position: 0% -50%;}
	0%{background-position: 100% -50%;}
}
